{% extends "layout.html.twig" %}
{% import "macros/elements.html.twig" as elements %}

{% block title %}show comic{% endblock title %}

{% block content %}
    <h3>show {{ comic.num }}</h3>
    <small>{{ comic.safe_title }}</small>

    <img class="img-responsive" src="{{ image_public_path }}">

    <h2>download info</h2>
    <hr/>
    {{ elements.key_value("downloaded by", comic.getDownloadedByAsText) }}
    {{ elements.key_value("download datetime", comic.download_date_time|date("d.m.Y H:i")) }}
    {{ elements.key_value("status", comic.getStatusAsText) }}
    {{ elements.key_value("status message", comic.status_message) }}
    {{ elements.key_value("filename", comic.filename) }}
    <h2>comic info</h2>
    <hr/>
    {{ elements.key_value("num", comic.num) }}
    {{ elements.key_value("title", comic.title) }}
    {{ elements.key_value("alt", comic.alt) }}
    {{ elements.key_value("publish date", comic.publish_date|date("d.m.Y")) }}
    {{ elements.key_value("num", comic.num) }}
    {{ elements.key_value("link", comic.link) }}
    {{ elements.key_value("safe title", comic.safe_title) }}
    {{ elements.key_value("news", comic.news) }}
    <h2>raw</h2>
    <hr/>
    {{ elements.key_value("transcript", comic.transcript) }}
    {{ elements.key_value("json", comic.json) }}

    <p>
        show <a href="{{ path_for("comics_index") }}">all</a> or
        <a href="{{ path_for("comics_failed") }}">only failed</a>
    </p>
{% endblock content %}
