{% extends "layout.html.twig" %}
{% import "../makros/elements.html.twig" as elements %}

{% block title %}show comic{% endblock title %}

{% block content %}
    <h3>show {{ comic.num }}</h3>
    <small>{{ comic.safe_title }}</small>

    <img class="img-responsive" src="{{ image_public_path }}">

    <h2>download info</h2>
    {{ keyValue("downloaded by", comic.getDownloadedByAsText) }}
    {{ keyValue("download datetime", comic.download_date_time|date("d.m.Y H:i")) }}
    {{ keyValue("status", comic.getStatusAsText) }}
    {{ keyValue("status message", comic.status_message) }}
    {{ keyValue("filename", comic.filename) }}
    <hr/>
    <h2>comic info</h2>
    {{ keyValue("num", comic.num) }}
    {{ keyValue("title", comic.title) }}
    {{ keyValue("alt", comic.alt) }}
    {{ keyValue("publish date", comic.publish_date|date("d.m.Y")) }}
    {{ keyValue("num", comic.num) }}
    {{ keyValue("link", comic.link) }}
    {{ keyValue("safe title", comic.safe_title) }}
    {{ keyValue("news", comic.news) }}
    <hr/>
    <h2>raw</h2>
    {{ keyValue("transcript", comic.transcript) }}
    {{ keyValue("json", comic.json) }}

    <hr/>
    <p>
        show <a href="{{ path_for("comics_index") }}">all</a> or
        <a href="{{ path_for("comics_failed") }}">only failed</a>
    </p>
{% endblock content %}
